body {
    background-color: #f9f6f1;
}

p {
    font-size: 25px;
}
#btnNext {
    background-color: #6d7f52;

}
#btnBack{
    background-color: #666;
}
#btnSubmit{
    background-color: #666;
}
#btnReset{
    background-color: #6d7f52;
}
